.about-section {
    background-color: var(--card-bg);
    border-radius: 20px;
    margin: 4rem auto;
    backdrop-filter: blur(10px);
    box-shadow: -3px 1px 43px 17px rgba(0, 0, 0, 0.75) inset;
    -webkit-box-shadow: -3px 1px 43px 17px rgba(0, 0, 0, 0.75) inset;
    -moz-box-shadow: -3px 1px 43px 17px rgba(0, 0, 0, 0.75) inset;
}

.section-title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3rem;
    color: var(--accent-color);
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.section-title::after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: var(--accent-color);
    margin: 0.5rem auto 0;
    border-radius: 2px;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}

.about-text {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    color: var(--text-secondary);
    font-size: 1.1rem;
    width: 80%;

}

.about-text p {
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    color: var(--text-secondary);
}

.about-info-cards {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.about-info-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    transition: transform 0.3s ease;
    width: 270px;
    height: auto;
    box-shadow: 0 4px 12px rgba(56, 189, 248, 0.2);
}

.about-info-card:hover {
    transform: translateY(-8px);
}

@media (max-width: 768px) {
    .about-content {
        grid-template-columns: 1fr;
    }

    .about-info-cards {
        flex-direction: column;
    }
}